@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 201, 209, 217;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 13, 17, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #2E9EF7;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e8ee7;
}
